In [2]:
import pandas as pd
import numpy as np
import janitor

In [4]:
path_raw_data = ("../data/raw/")

In [3]:
df_player_stats = pd.read_csv(path_raw_data + "df_player_stats.csv")

In [4]:
df_nba_teams = pd.read_csv(path_raw_data + "df_nba_teams.csv")

In [5]:
# we need to join player rating by name
df_nba_players = pd.read_csv(path_raw_data + "df_nba_players.csv")
# df_nba_players.head()

df_nba_players = df_nba_players.loc[:, ['id', 'full_name']]
df = pd.merge(df_player_stats, df_nba_players, how = "left", left_on = "PLAYER_ID", right_on = "id")

In [6]:
np.sort(df_nba_teams['abbreviation'].unique())

array(['ATL', 'BKN', 'BOS', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN',
       'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS',
       'TOR', 'UTA', 'WAS'], dtype=object)

In [7]:
np.sort(df['TEAM_ABBREVIATION'].unique())

array(['ATL', 'BKN', 'BOS', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN',
       'NJN', 'NOH', 'NOK', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX',
       'POR', 'SAC', 'SAS', 'SEA', 'TOR', 'TOT', 'UTA', 'WAS'],
      dtype=object)

In [8]:
set.difference(set(df['TEAM_ABBREVIATION'].unique()), set(df_nba_teams['abbreviation'].unique()))

{'NJN', 'NOH', 'NOK', 'SEA', 'TOT'}

NJN stands for New Jerseys Nets (Brooklyn Nets)

NOH stands for New Orleans Hornets (New Orleans Pelicans)

NOK stands for New Orleans/Oklahoma City Hornets (New Orleans Pelicans)

SEA stands for Seattle SuperSonics (Oklahoma City Thunder)

TOT stands for Two Other Teams

In [9]:
nba_teams_dict = {"NJN": "BKN",
                  "NOH": "NOP",
                  "NOK": "NOP",
                  "SEA": "OKC"}

In [10]:
df = df.replace({'TEAM_ABBREVIATION': nba_teams_dict})

In [11]:
# remove TOT
df = df[df['TEAM_ABBREVIATION'] != "TOT"]

In [12]:
df.groupby(['full_name', 'SEASON_ID', 'PLAYER_AGE']).sum()

                                      PLAYER_ID  LEAGUE_ID     TEAM_ID  GP  \
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0           203932          0  1610612753  47
                2015-16   20.0           203932          0  1610612753  78
                2016-17   21.0           203932          0  1610612753  80
                2017-18   22.0           203932          0  1610612753  58
                2018-19   23.0           203932          0  1610612753  78
...                                         ...        ...         ...  ..
Zeke Nnaji      2021-22   21.0          1630192          0  1610612743  22
Ziaire Williams 2021-22   20.0          1630533          0  1610612763  23
Zion Williamson 2019-20   19.0          1629627          0  1610612740  24
                2020-21   20.0          1629627          0  1610612740  61
Zylan Cheatham  2019-20   24.0          1629597          0  1610612740   4

                                      GS     MIN  FGM   FGA  FG_PCT  FG3M  \
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0         8   797.0   93   208   0.447    13
                2015-16   20.0        37  1863.0  274   579   0.473    42
                2016-17   21.0        72  2298.0  393   865   0.454    77
                2017-18   22.0        57  1909.0  375   865   0.434   115
                2018-19   23.0        78  2633.0  470  1046   0.449   121
...                                   ..     ...  ...   ...     ...   ...
Zeke Nnaji      2021-22   21.0         0   326.0   43    93   0.462    20
Ziaire Williams 2021-22   20.0         2   424.0   51   129   0.395    22
Zion Williamson 2019-20   19.0        24   668.0  210   360   0.583     6
                2020-21   20.0        61  2026.0  634  1037   0.611    10
Zylan Cheatham  2019-20   24.0         0    51.0    6     9   0.667     0

                                      ...  OREB  DREB  REB  AST  STL  BLK  \
full_name       SEASON_ID PLAYER_AGE  ...
Aaron Gordon    2014-15   19.0        ...    46   123  169   33   21   22
                2015-16   20.0        ...   154   353  507  128   59   55
                2016-17   21.0        ...   116   289  405  150   65   40
                2017-18   22.0        ...    87   370  457  136   59   45
                2018-19   23.0        ...   129   445  574  289   57   56
...                                   ...   ...   ...  ...  ...  ...  ...
Zeke Nnaji      2021-22   21.0        ...    23    45   68    8    4    7
Ziaire Williams 2021-22   20.0        ...     6    27   33   17   11    6
Zion Williamson 2019-20   19.0        ...    64    86  150   50   16    9
                2020-21   20.0        ...   167   274  441  226   57   39
Zylan Cheatham  2019-20   24.0        ...     3     6    9    3    1    1

                                      TOV   PF   PTS       id
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0         38   83   243   203932
                2015-16   20.0         66  153   719   203932
                2016-17   21.0         89  172  1019   203932
                2017-18   22.0        107  111  1022   203932
                2018-19   23.0        162  172  1246   203932
...                                   ...  ...   ...      ...
Zeke Nnaji      2021-22   21.0          7   36   126  1630192
Ziaire Williams 2021-22   20.0         13   39   130  1630533
Zion Williamson 2019-20   19.0         59   42   540  1629627
                2020-21   20.0        167  135  1647  1629627
Zylan Cheatham  2019-20   24.0          4   10    12  1629597

[2872 rows x 25 columns]

In [13]:
# some players played in more than one team in season, so 
# groupby their name and season and sum(), actually
# where they played doesnt matter now

df_group = df.groupby(['full_name', 'SEASON_ID', 'PLAYER_AGE']).sum()
df_group = df_group.reset_index()

In [14]:
df_group

,full_name,SEASON_ID,PLAYER_AGE,PLAYER_ID,LEAGUE_ID,TEAM_ID,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id
0,Aaron Gordon,2014-15,19.0,203932,0,1610612753,47,8,797.0,93,...,46,123,169,33,21,22,38,83,243,203932
1,Aaron Gordon,2015-16,20.0,203932,0,1610612753,78,37,1863.0,274,...,154,353,507,128,59,55,66,153,719,203932
2,Aaron Gordon,2016-17,21.0,203932,0,1610612753,80,72,2298.0,393,...,116,289,405,150,65,40,89,172,1019,203932
3,Aaron Gordon,2017-18,22.0,203932,0,1610612753,58,57,1909.0,375,...,87,370,457,136,59,45,107,111,1022,203932
4,Aaron Gordon,2018-19,23.0,203932,0,1610612753,78,78,2633.0,470,...,129,445,574,289,57,56,162,172,1246,203932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2867,Zeke Nnaji,2021-22,21.0,1630192,0,1610612743,22,0,326.0,43,...,23,45,68,8,4,7,7,36,126,1630192
2868,Ziaire Williams,2021-22,20.0,1630533,0,1610612763,23,2,424.0,51,...,6,27,33,17,11,6,13,39,130,1630533
2869,Zion Williamson,2019-20,19.0,1629627,0,1610612740,24,24,668.0,210,...,64,86,150,50,16,9,59,42,540,1629627
2870,Zion Williamson,2020-21,20.0,1629627,0,1610612740,61,61,2026.0,634,...,167,274,441,226,57,39,167,135,1647,1629627
2871,Zylan Cheatham,2019-20,24.0,1629597,0,1610612740,4,0,51.0,6,...,3,6,9,3,1,1,4,10,12,1629597

In [15]:
valid_season_list = ["2021-22", "2020-21", "2019-20", "2018-19", "2017-18", "2016-17", "2015-16", 
                     "2014-15", "2013-14", "2012-13", "2011-12", "2010-11", "2009-10"]

df_temp_list = []
columns_filt = ['SEASON_ID', 'full_name']
df_filt = df_group.loc[:, columns_filt]
soma_lista = []

for season in valid_season_list:
    df_left = df_filt[df_filt['SEASON_ID'] == season]
    df_right = pd.read_csv(df_path + "df_player_rating_2k" + season[-2:] + ".csv")
#     print(df_left.shape[0])
    df_left.shape[0]
    df_temp = pd.merge(df_left, df_right, how = "left", left_on = "full_name", right_on = "name")
    df_temp_list.append(df_temp)
# df_temp_list

In [16]:
df_player_rating = pd.concat(df_temp_list).loc[:, ['SEASON_ID', 'full_name', 'rating']]

In [17]:
unvalid_season_list = list(set.difference(set(df_group['SEASON_ID'].unique()),set(valid_season_list)))
df_temp = df_filt[df_filt['SEASON_ID'].isin(unvalid_season_list)]
df_temp.loc[:, 'rating'] = np.NaN

df_temp

/home/taryll/Documents/Projects/data_science/NBA_project/env/lib/python3.8/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

     SEASON_ID       full_name  rating
23     2007-08      Al Horford     NaN
24     2008-09      Al Horford     NaN
94     2004-05  Andre Iguodala     NaN
95     2005-06  Andre Iguodala     NaN
96     2006-07  Andre Iguodala     NaN
...        ...             ...     ...
2762   2004-05   Udonis Haslem     NaN
2763   2005-06   Udonis Haslem     NaN
2764   2006-07   Udonis Haslem     NaN
2765   2007-08   Udonis Haslem     NaN
2766   2008-09   Udonis Haslem     NaN

[80 rows x 3 columns]

In [27]:
df_player_rating = pd.concat([df_player_rating, df_temp])

In [28]:
df_player_rating_stats = pd.merge(df_group, df_player_rating, how = 'inner', 
                                  left_on = ['full_name', 'SEASON_ID'],
                                  right_on = ['full_name', 'SEASON_ID']).drop_duplicates()

In [29]:
# create useful features like ppg, rpg
df_player_rating_stats['PTSPG'] = df_player_rating_stats['PTS'] / df_player_rating_stats['GP']
df_player_rating_stats['REBPG'] = df_player_rating_stats['REB'] / df_player_rating_stats['GP']
df_player_rating_stats['OREBPG'] = df_player_rating_stats['OREB'] / df_player_rating_stats['GP']
df_player_rating_stats['DREBPG'] = df_player_rating_stats['DREB'] / df_player_rating_stats['GP']
df_player_rating_stats['ASTPG'] = df_player_rating_stats['AST'] / df_player_rating_stats['GP']
df_player_rating_stats['STLPG'] = df_player_rating_stats['STL'] / df_player_rating_stats['GP']
df_player_rating_stats['BLKPG'] = df_player_rating_stats['BLK'] / df_player_rating_stats['GP']
df_player_rating_stats['TOVPG'] = df_player_rating_stats['TOV'] / df_player_rating_stats['GP']
df_player_rating_stats['PFPG'] = df_player_rating_stats['PF'] / df_player_rating_stats['GP']
# df_player_stats['RPG'] = df_player_stats['PTS'] / df_player_stats['GP']

In [30]:
# remaking features affected by groupby
df_player_rating_stats['FG_PCT'] = df_player_rating_stats['FGM'] / df_player_rating_stats['FGA']
df_player_rating_stats['FG3_PCT'] = df_player_rating_stats['FG3M'] / df_player_rating_stats['FG3A']
df_player_rating_stats['FT_PCT'] = df_player_rating_stats['FTM'] / df_player_rating_stats['FTA']

In [31]:
df_player_rating_stats.columns

Index(['full_name', 'SEASON_ID', 'PLAYER_AGE', 'PLAYER_ID', 'LEAGUE_ID',
       'TEAM_ID', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'id', 'rating', 'PTSPG', 'REBPG', 'OREBPG',
       'DREBPG', 'ASTPG', 'STLPG', 'BLKPG', 'TOVPG', 'PFPG'],
      dtype='object')

In [32]:
df_player_rating_stats = df_player_rating_stats.clean_names()

In [33]:
path_interim_data = "../data/interim/"
df_player_rating_stats.to_csv(path_interim_data + "df_player_rating_stats.csv", index = False)

In [190]:
path_interim_data = "../data/interim/"

## NBA GAMES

In [54]:
def create_df_nba_games(df_nba_games):
    # separate between home or away games
    df_nba_games['WHERE'] = df_nba_games.apply(lambda x: "Away" if "@" in x['MATCHUP'] else "Home", axis = 1)

    df_home_games = df_nba_games[df_nba_games['WHERE'] == "Home"]
    df_away_games = df_nba_games[df_nba_games['WHERE'] == "Away"]
    
    nba_columns = df_nba_games.columns.to_list()
    home_columns = list(map(lambda x: "H_" + x, nba_columns))
    away_columns = list(map(lambda x: "A_" + x, nba_columns))
    
    dict_home_columns = dict(zip(nba_columns, home_columns))
    dict_away_columns = dict(zip(nba_columns, away_columns))
    
    df_home_games = df_home_games.rename(columns = dict_home_columns)
    df_away_games = df_away_games.rename(columns = dict_away_columns)
    
#     df_game_merge = pd.merge(df_home_games, df_away_games, how = "inner", left_on = "H_GAME_ID", right_on = "A_GAME_ID")
    
    return df_home_games, df_away_games

In [171]:
df_nba_games = pd.read_csv(path_raw_data + "df_nba_games.csv")

In [172]:
df_home_games, df_away_games = create_df_nba_games(df_nba_games)

In [181]:
df_nba_merg = pd.merge(df_home_games, df_away_games, how = "inner", left_on = "H_GAME_ID", right_on = "A_GAME_ID")

In [182]:
# drop non useful features
drop_columns = ['A_SEASON_ID', 'A_GAME_ID', 'A_GAME_DATE',
                'A_MATCHUP', 'H_WHERE', 'A_WHERE', 'A_MIN']

rename_columns = {'H_GAME_ID': 'GAME_ID', 
                  'H_GAME_DATE': 'GAME_DATE',
                  'H_MATCHUP': 'MATCHUP',
                  'H_MIN': 'MIN'}

df_nba_merg.drop(drop_columns, axis = 1, inplace = True)
df_nba_merg.rename(columns = rename_columns, inplace = True)

### Elo Rating

$ R_0 = 1500 $ start value

$ R_{i+1} = K(S_{team} - E_{team}) + R_i$

$S_{team}$: boolean for win or lose (1 or zero)

Expected win probability:

$E_{team} = \dfrac{1}{1 + 10^{\left(\dfrac{opp\_elo - team\_elo}{400}\right )} }$

$K = 20 \dfrac{\left(MOV_{winner} + 3\right)^{0.8}}{7.5 + 0.006(elo\_difference_{winner})}$

for new season (elo rating carry over from season to season)

$ (R * 0.75) + 0.25*1505$

In [157]:
def s_team(home_score, away_score):
    if home_score > away_score:
        home_s = 1
        away_s = 0
    else:
        home_s = 0
        away_s = 1
    
    return home_s, away_s

def exp_win_prob(opp_elo, team_elo):
    denom = 1 + 10**((opp_elo - team_elo) / 400)
    
    return 1 / denom

def k_fact(mov, elo_diff):
    c = 20

    # means home wins
    if mov > 0 :
        value = ((mov + 3)**(0.8)) / (7.5 + 0.006*(elo_diff))
    # means home loses
    else:
        value = ((-mov + 3)**(0.8)) / (7.5 + 0.006*(-elo_diff))
        
    return c*value

def elo_update(home_elo, away_elo, home_score, away_score, home_court_adv = 100):
    # home advantage
    home_elo += home_court_adv
    
    home_s, away_s = s_team(home_score, away_score)
    
    home_prob = exp_win_prob(away_elo, home_elo)
    away_prob = exp_win_prob(home_elo, away_elo)
    
    k = k_fact(home_score - away_score, home_elo - away_elo)
    
    # home advantage is not for update
    home_elo -= home_court_adv
    home_elo_update = k*(home_s - home_prob) + home_elo
    away_elo_update = k*(away_s - away_prob) + away_elo
    
    return home_elo_update, away_elo_update

def get_prev_elo(df, date, team_id, season, df_elo):
    df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]
    prev_game = df_temp.sort_values(by = 'GAME_DATE').tail(1).iloc[0]
    
    if team_id == prev_game['H_TEAM_ID']:
        team_elo = df_elo[df_elo['GAME_ID'] == prev_game['GAME_ID']]['H_ELO_AFTER'].values[0]
    else :
        team_elo = df_elo[df_elo['GAME_ID'] == prev_game['GAME_ID']]['A_ELO_AFTER'].values[0]
        
    if prev_game['SEASON_ID'] != season :
        return (0.75 * team_elo) + (0.25 * 1505)
    else :
        return team_elo

In [183]:
filt_columns = ['H_SEASON_ID', 'H_TEAM_ID', 'H_TEAM_NAME', 'A_TEAM_ID', 'A_TEAM_NAME',
                'GAME_ID', 'GAME_DATE', 'H_WL', 'A_WL', 'H_PTS', 'A_PTS']

df_nba_filt = df_nba_merg.loc[:, filt_columns]
df_nba_filt.rename(columns = {'H_GAME_DATE': 'GAME_DATE',
                              'H_GAME_ID': 'GAME_ID',
                              'H_SEASON_ID': 'SEASON_ID'}, 
                   inplace = True)

df_nba_filt.sort_values(by = 'GAME_DATE', inplace = True)
df_nba_filt.reset_index(drop = True, inplace = True)

In [187]:
df_elo = pd.DataFrame(columns = ['GAME_ID', 'H_TEAM_ID', 'A_TEAM_ID',
                                 'H_ELO_BEFORE', 'A_ELO_BEFORE',
                                 'H_ELO_AFTER', 'A_ELO_AFTER'])

df_teams_elo = pd.DataFrame(columns = ['GAME_ID', 'TEAM', 'ELO', 'DATE', 'WHERE_PLAYED', 'SEASON']) 

for index, row in df_nba_filt.iterrows():
    date = row['GAME_DATE']
    game_id = row['GAME_ID']
    season = row['SEASON_ID']
    
    home_team_id, home_score = row['H_TEAM_ID'], row['H_PTS']
    away_team_id, away_score = row['A_TEAM_ID'], row['A_PTS']
    
    if (home_team_id not in df_elo['H_TEAM_ID'].values and home_team_id not in df_elo['A_TEAM_ID'].values):
        home_elo_before = 1500
    else:
        home_elo_before = get_prev_elo(df_nba_filt, date, home_team_id, season, df_elo)

    if (away_team_id not in df_elo['H_TEAM_ID'].values and away_team_id not in df_elo['A_TEAM_ID'].values):
        away_elo_before = 1500
    else:
        away_elo_before = get_prev_elo(df_nba_filt, date, away_team_id, season, df_elo)

    home_elo_after, away_elo_after = elo_update(home_elo_before, away_elo_before,
                                                home_score, away_score, 100)
    
    new_row = {'GAME_ID': game_id,
               'H_TEAM_ID': home_team_id,
               'A_TEAM_ID': away_team_id,
               'H_ELO_BEFORE': home_elo_before,
               'A_ELO_BEFORE': away_elo_before,
               'H_ELO_AFTER': home_elo_after,
               'A_ELO_AFTER': away_elo_after}
    
    teams_row_one = {'GAME_ID': game_id,
                     'TEAM': home_team_id, 
                     'ELO': home_elo_before,
                     'DATE': date,
                     'WHERE_PLAYED': 'Home',
                     'SEASON': season}
    
    teams_row_two = {'GAME_ID': game_id,
                     'TEAM': away_team_id,
                     'ELO': away_elo_before,
                     'DATE': date,
                     'WHERE_PLAYED': 'Away',
                     'SEASON': season}
    
    df_elo = df_elo.append(new_row, ignore_index = True)
    
    df_teams_elo = df_teams_elo.append(teams_row_one, ignore_index=True)
    df_teams_elo = df_teams_elo.append(teams_row_two, ignore_index=True)

/tmp/ipykernel_8767/2725054605.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]

In [188]:
elo_columns = ['GAME_ID', 'H_ELO_BEFORE', 'A_ELO_BEFORE', 'H_ELO_AFTER', 'A_ELO_AFTER']

df_nba_with_elo = pd.merge(df_nba_merg, df_elo.loc[:, elo_columns], how = "left", 
                           left_on = 'GAME_ID', right_on = 'GAME_ID')

In [191]:
df_nba_with_elo.to_csv(path_interim_data + "df_nba_games_with_elo.csv", index = False)
df_teams_elo.to_csv(path_interim_data + "df_teams_elo.csv", index = False)

### Team Performance last n games

In [306]:
def get_avg_stats_last_n_games(df, team_id, date, n):
    df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]
    prev_game = df_temp.sort_values(by = 'GAME_DATE').tail(n)

    cols = ['TEAM_ID', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
            'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
            'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS']
    
    home_cols = ["H_" + x for x in cols]
    away_cols = ["A_" + x for x in cols]
    
    df_home = prev_game.loc[:, home_cols]
    df_away = prev_game.loc[:, away_cols]
    
    df_home.columns = [x[2:] for x in df_home.columns]
    df_away.columns = [x[2:] for x in df_away.columns]
    
    df_team = pd.concat([df_home, df_away])
    df_team = df_team[df_team['TEAM_ID'] == team_id]
    df_team.drop(columns = ['TEAM_ID'], inplace=True)

    return df_team.mean()

In [329]:
season = 22021
df_temp = df_nba_merg[df_nba_merg['H_SEASON_ID'] == season]
df_season_games = df_temp.sort_values(by = 'GAME_DATE').reset_index(drop = True)

df_season_recent_perf = pd.DataFrame()
i = 0
for index, row in df_season_games.iterrows():
    date = row['GAME_DATE']
    game_id = row['GAME_ID']
    home_team_id = row['H_TEAM_ID']
    away_team_id = row['A_TEAM_ID']
    
    h_team_recent_performance = get_avg_stats_last_n_games(df_season_games, home_team_id, date, 10)
    h_team_recent_performance.index = ['H_Last_10_Avg_' + x for x in h_team_recent_performance.index]

    a_team_recent_performance = get_avg_stats_last_n_games(df_season_games, away_team_id, date, 10)
    a_team_recent_performance.index = ['A_Last_10_Avg_' + x for x in a_team_recent_performance.index]

    new_row = pd.concat([h_team_recent_performance, a_team_recent_performance], sort = False)
    new_row['GAME_ID'] = game_id
    
    df_season_recent_perf = df_season_recent_perf.append(new_row, ignore_index = True)
    df_season_recent_perf = df_season_recent_perf[new_row.index]

df_recent_perf = pd.concat([df_recent_perf, df_season_recent_perf])

/tmp/ipykernel_8767/1711784296.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]

In [338]:
df_recent_perf = pd.DataFrame()

for season in df_nba_merg['H_SEASON_ID'].unique():
    df_temp = df_nba_merg[df_nba_merg['H_SEASON_ID'] == season]
    df_season_games = df_temp.sort_values(by = 'GAME_DATE').reset_index(drop = True)
    
    df_season_recent_perf = pd.DataFrame()
    
    for index, row in df_season_games.iterrows():
        date = row['GAME_DATE']
        game_id = row['GAME_ID']
        home_team_id = row['H_TEAM_ID']
        away_team_id = row['A_TEAM_ID']
        
        h_team_recent_performance = get_avg_stats_last_n_games(df_season_games, home_team_id, date, 10)
        h_team_recent_performance.index = ['H_Last_10_Avg_' + x for x in h_team_recent_performance.index]

        a_team_recent_performance = get_avg_stats_last_n_games(df_season_games, away_team_id, date, 10)
        a_team_recent_performance.index = ['A_Last_10_Avg_' + x for x in a_team_recent_performance.index]
        
        new_row = pd.concat([h_team_recent_performance, a_team_recent_performance], sort = False)
        new_row['GAME_ID'] = game_id

        df_season_recent_perf = df_season_recent_perf.append(new_row, ignore_index = True)
        df_season_recent_perf = df_season_recent_perf[new_row.index]
    
    df_recent_perf = pd.concat([df_recent_perf, df_season_recent_perf])

/tmp/ipykernel_8767/1711784296.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]

In [337]:
# df_recent_perf.tail(20)

In [339]:
df_recent_perf.to_csv(path_interim_data + "df_recent_perf.csv", index = False)

In [340]:
# creating label, where 1 means home team wins, 0 away team wins

df_nba_with_elo['Label'] = [1 if x > 0 else 0 for x in df_nba_with_elo['H_PTS'] - df_nba_with_elo['A_PTS']]

In [341]:
model_columns = ['H_SEASON_ID', 'GAME_ID', 'GAME_DATE', 'MATCHUP',
                'H_TEAM_ID', 'H_TEAM_ABBREVIATION', 'H_TEAM_NAME',
                'A_TEAM_ID', 'A_TEAM_ABBREVIATION', 'A_TEAM_NAME',
                'H_ELO_BEFORE', 'A_ELO_BEFORE', 'H_ELO_AFTER', 'A_ELO_AFTER',
                'Label']

df_model = df_nba_with_elo.loc[:, model_columns]

In [342]:
df_model_temp = df_model.merge(df_recent_perf, how = "inner", left_on = 'GAME_ID', right_on = 'GAME_ID')
df_model_temp.to_csv(path_interim_data + "df_model_temp.csv", index = False)