In [1]:
import pandas as pd
import numpy as np
import janitor

In [2]:
df_path = ("../data/raw/")

In [3]:
df_player_stats = pd.read_csv(df_path + "df_player_stats.csv")

In [4]:
df_nba_teams = pd.read_csv(df_path + "df_nba_teams.csv")

In [5]:
# we need to join player rating by name
df_nba_players = pd.read_csv("../data/raw/df_nba_players.csv")
# df_nba_players.head()

df_nba_players = df_nba_players.loc[:, ['id', 'full_name']]
df = pd.merge(df_player_stats, df_nba_players, how = "left", left_on = "PLAYER_ID", right_on = "id")

In [6]:
np.sort(df_nba_teams['abbreviation'].unique())

array(['ATL', 'BKN', 'BOS', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN',
       'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS',
       'TOR', 'UTA', 'WAS'], dtype=object)

In [7]:
np.sort(df['TEAM_ABBREVIATION'].unique())

array(['ATL', 'BKN', 'BOS', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN',
       'NJN', 'NOH', 'NOK', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX',
       'POR', 'SAC', 'SAS', 'SEA', 'TOR', 'TOT', 'UTA', 'WAS'],
      dtype=object)

In [8]:
set.difference(set(df['TEAM_ABBREVIATION'].unique()), set(df_nba_teams['abbreviation'].unique()))

{'NJN', 'NOH', 'NOK', 'SEA', 'TOT'}

NJN stands for New Jerseys Nets (Brooklyn Nets)

NOH stands for New Orleans Hornets (New Orleans Pelicans)

NOK stands for New Orleans/Oklahoma City Hornets (New Orleans Pelicans)

SEA stands for Seattle SuperSonics (Oklahoma City Thunder)

TOT stands for Two Other Teams

In [12]:
nba_teams_dict = {"NJN": "BKN",
                  "NOH": "NOP",
                  "NOK": "NOP",
                  "SEA": "OKC"}

In [16]:
df = df.replace({'TEAM_ABBREVIATION': nba_teams_dict})

In [20]:
# remove TOT
df = df[df['TEAM_ABBREVIATION'] != "TOT"]

In [21]:
df.groupby(['full_name', 'SEASON_ID', 'PLAYER_AGE']).sum()

                                      PLAYER_ID  LEAGUE_ID     TEAM_ID  GP  \
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0           203932          0  1610612753  47
                2015-16   20.0           203932          0  1610612753  78
                2016-17   21.0           203932          0  1610612753  80
                2017-18   22.0           203932          0  1610612753  58
                2018-19   23.0           203932          0  1610612753  78
...                                         ...        ...         ...  ..
Zeke Nnaji      2021-22   21.0          1630192          0  1610612743  22
Ziaire Williams 2021-22   20.0          1630533          0  1610612763  23
Zion Williamson 2019-20   19.0          1629627          0  1610612740  24
                2020-21   20.0          1629627          0  1610612740  61
Zylan Cheatham  2019-20   24.0          1629597          0  1610612740   4

                                      GS     MIN  FGM   FGA  FG_PCT  FG3M  \
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0         8   797.0   93   208   0.447    13
                2015-16   20.0        37  1863.0  274   579   0.473    42
                2016-17   21.0        72  2298.0  393   865   0.454    77
                2017-18   22.0        57  1909.0  375   865   0.434   115
                2018-19   23.0        78  2633.0  470  1046   0.449   121
...                                   ..     ...  ...   ...     ...   ...
Zeke Nnaji      2021-22   21.0         0   326.0   43    93   0.462    20
Ziaire Williams 2021-22   20.0         2   424.0   51   129   0.395    22
Zion Williamson 2019-20   19.0        24   668.0  210   360   0.583     6
                2020-21   20.0        61  2026.0  634  1037   0.611    10
Zylan Cheatham  2019-20   24.0         0    51.0    6     9   0.667     0

                                      ...  OREB  DREB  REB  AST  STL  BLK  \
full_name       SEASON_ID PLAYER_AGE  ...
Aaron Gordon    2014-15   19.0        ...    46   123  169   33   21   22
                2015-16   20.0        ...   154   353  507  128   59   55
                2016-17   21.0        ...   116   289  405  150   65   40
                2017-18   22.0        ...    87   370  457  136   59   45
                2018-19   23.0        ...   129   445  574  289   57   56
...                                   ...   ...   ...  ...  ...  ...  ...
Zeke Nnaji      2021-22   21.0        ...    23    45   68    8    4    7
Ziaire Williams 2021-22   20.0        ...     6    27   33   17   11    6
Zion Williamson 2019-20   19.0        ...    64    86  150   50   16    9
                2020-21   20.0        ...   167   274  441  226   57   39
Zylan Cheatham  2019-20   24.0        ...     3     6    9    3    1    1

                                      TOV   PF   PTS       id
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0         38   83   243   203932
                2015-16   20.0         66  153   719   203932
                2016-17   21.0         89  172  1019   203932
                2017-18   22.0        107  111  1022   203932
                2018-19   23.0        162  172  1246   203932
...                                   ...  ...   ...      ...
Zeke Nnaji      2021-22   21.0          7   36   126  1630192
Ziaire Williams 2021-22   20.0         13   39   130  1630533
Zion Williamson 2019-20   19.0         59   42   540  1629627
                2020-21   20.0        167  135  1647  1629627
Zylan Cheatham  2019-20   24.0          4   10    12  1629597

[2872 rows x 25 columns]

In [22]:
# some players played in more than one team in season, so 
# groupby their name and season and sum(), actually
# where they played doesnt matter now

df_group = df.groupby(['full_name', 'SEASON_ID', 'PLAYER_AGE']).sum()
df_group = df_group.reset_index()

In [23]:
df_group

,full_name,SEASON_ID,PLAYER_AGE,PLAYER_ID,LEAGUE_ID,TEAM_ID,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id
0,Aaron Gordon,2014-15,19.0,203932,0,1610612753,47,8,797.0,93,...,46,123,169,33,21,22,38,83,243,203932
1,Aaron Gordon,2015-16,20.0,203932,0,1610612753,78,37,1863.0,274,...,154,353,507,128,59,55,66,153,719,203932
2,Aaron Gordon,2016-17,21.0,203932,0,1610612753,80,72,2298.0,393,...,116,289,405,150,65,40,89,172,1019,203932
3,Aaron Gordon,2017-18,22.0,203932,0,1610612753,58,57,1909.0,375,...,87,370,457,136,59,45,107,111,1022,203932
4,Aaron Gordon,2018-19,23.0,203932,0,1610612753,78,78,2633.0,470,...,129,445,574,289,57,56,162,172,1246,203932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2867,Zeke Nnaji,2021-22,21.0,1630192,0,1610612743,22,0,326.0,43,...,23,45,68,8,4,7,7,36,126,1630192
2868,Ziaire Williams,2021-22,20.0,1630533,0,1610612763,23,2,424.0,51,...,6,27,33,17,11,6,13,39,130,1630533
2869,Zion Williamson,2019-20,19.0,1629627,0,1610612740,24,24,668.0,210,...,64,86,150,50,16,9,59,42,540,1629627
2870,Zion Williamson,2020-21,20.0,1629627,0,1610612740,61,61,2026.0,634,...,167,274,441,226,57,39,167,135,1647,1629627
2871,Zylan Cheatham,2019-20,24.0,1629597,0,1610612740,4,0,51.0,6,...,3,6,9,3,1,1,4,10,12,1629597

In [24]:
valid_season_list = ["2021-22", "2020-21", "2019-20", "2018-19", "2017-18", "2016-17", "2015-16", 
                     "2014-15", "2013-14", "2012-13", "2011-12", "2010-11", "2009-10"]

df_temp_list = []
columns_filt = ['SEASON_ID', 'full_name']
df_filt = df_group.loc[:, columns_filt]
soma_lista = []

for season in valid_season_list:
    df_left = df_filt[df_filt['SEASON_ID'] == season]
    df_right = pd.read_csv(df_path + "df_player_rating_2k" + season[-2:] + ".csv")
#     print(df_left.shape[0])
    df_left.shape[0]
    df_temp = pd.merge(df_left, df_right, how = "left", left_on = "full_name", right_on = "name")
    df_temp_list.append(df_temp)
# df_temp_list

In [25]:
df_player_rating = pd.concat(df_temp_list).loc[:, ['SEASON_ID', 'full_name', 'rating']]

In [26]:
unvalid_season_list = list(set.difference(set(df_group['SEASON_ID'].unique()),set(valid_season_list)))
df_temp = df_filt[df_filt['SEASON_ID'].isin(unvalid_season_list)]
df_temp.loc[:, 'rating'] = np.NaN

df_temp

/home/taryll/Documents/Projects/data_science/NBA_project/env/lib/python3.8/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

     SEASON_ID       full_name  rating
23     2007-08      Al Horford     NaN
24     2008-09      Al Horford     NaN
94     2004-05  Andre Iguodala     NaN
95     2005-06  Andre Iguodala     NaN
96     2006-07  Andre Iguodala     NaN
...        ...             ...     ...
2762   2004-05   Udonis Haslem     NaN
2763   2005-06   Udonis Haslem     NaN
2764   2006-07   Udonis Haslem     NaN
2765   2007-08   Udonis Haslem     NaN
2766   2008-09   Udonis Haslem     NaN

[80 rows x 3 columns]

In [27]:
df_player_rating = pd.concat([df_player_rating, df_temp])

In [28]:
df_player_rating_stats = pd.merge(df_group, df_player_rating, how = 'inner', 
                                  left_on = ['full_name', 'SEASON_ID'],
                                  right_on = ['full_name', 'SEASON_ID']).drop_duplicates()

In [29]:
# create useful features like ppg, rpg
df_player_rating_stats['PTSPG'] = df_player_rating_stats['PTS'] / df_player_rating_stats['GP']
df_player_rating_stats['REBPG'] = df_player_rating_stats['REB'] / df_player_rating_stats['GP']
df_player_rating_stats['OREBPG'] = df_player_rating_stats['OREB'] / df_player_rating_stats['GP']
df_player_rating_stats['DREBPG'] = df_player_rating_stats['DREB'] / df_player_rating_stats['GP']
df_player_rating_stats['ASTPG'] = df_player_rating_stats['AST'] / df_player_rating_stats['GP']
df_player_rating_stats['STLPG'] = df_player_rating_stats['STL'] / df_player_rating_stats['GP']
df_player_rating_stats['BLKPG'] = df_player_rating_stats['BLK'] / df_player_rating_stats['GP']
df_player_rating_stats['TOVPG'] = df_player_rating_stats['TOV'] / df_player_rating_stats['GP']
df_player_rating_stats['PFPG'] = df_player_rating_stats['PF'] / df_player_rating_stats['GP']
# df_player_stats['RPG'] = df_player_stats['PTS'] / df_player_stats['GP']

In [30]:
# remaking features affected by groupby
df_player_rating_stats['FG_PCT'] = df_player_rating_stats['FGM'] / df_player_rating_stats['FGA']
df_player_rating_stats['FG3_PCT'] = df_player_rating_stats['FG3M'] / df_player_rating_stats['FG3A']
df_player_rating_stats['FT_PCT'] = df_player_rating_stats['FTM'] / df_player_rating_stats['FTA']

In [31]:
df_player_rating_stats.columns

Index(['full_name', 'SEASON_ID', 'PLAYER_AGE', 'PLAYER_ID', 'LEAGUE_ID',
       'TEAM_ID', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'id', 'rating', 'PTSPG', 'REBPG', 'OREBPG',
       'DREBPG', 'ASTPG', 'STLPG', 'BLKPG', 'TOVPG', 'PFPG'],
      dtype='object')

In [32]:
df_player_rating_stats = df_player_rating_stats.clean_names()

In [33]:
df_path_interim = "../data/interim/"
df_player_rating_stats.to_csv(df_path_interim + "df_player_rating_stats.csv", index = False)